@font-face {
    font-family: "KoPubWorldDotum";
    src: url("https://webfontworld.github.io/kopus/KoPubWorldDotum.css");
}

body {
    font-family: "KoPubWorldDotum";
    margin: 0;
    box-sizing: border-box;
    background-color: azure;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 15% 1fr;
    place-content: center;
}

h1 {
    text-align: center;
}

.search {
    display: grid;
    align-content: center;
    margin: 10px;
}

input {
    border: 1px solid #bbb;
    border-radius: 30px;
    padding: 10px 12px;
    font-size: 14px;
}

table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
    text-align: center;
}
th {
    background-color: grey;
    color: white;
}

#map {
    background-color: aquamarine;
    grid-column: 2/3;
    grid-row: 1/4;
    width:100%;
    height: 100vh;
}

.wordcloud {
    grid-column: 2/3;
    grid-row: 1/4;
}

.changeColor {
    background-color: gainsboro;
}